@model IEnumerable<WebApplication1.Models.AddTodoListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create new task", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Task Name", "Index", new { sortOrder = ViewBag.ListNameSortParam })
           @* @Html.DisplayNameFor(model => model.ListName)*@
        </th>
        <th>
            @Html.ActionLink("Group Name", "Index", new { sortOrder = ViewBag.GroupNameSortParam })
            @*@Html.DisplayNameFor(model => model.GroupName)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.GroupId)*@
        </th>
        <th>
            @Html.ActionLink("Is Completed", "Index", new { sortOrder = ViewBag.IsCompletedParam })
           @* @Html.DisplayNameFor(model => model.IsCompleted)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        @*<th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>*@
        <td>
            @*@Html.DisplayFor(modelItem => item.GroupId)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleted)
        </td>
        <td>
            @Html.ActionLink("Subtasks", "Details", new {listId=item.ListId} ) |
            @Html.ActionLink("Edit", "Edit", new { listId = item.ListId }) |
            @Html.ActionLink("Delete", "Delete", new { listId = item.ListId })
        </td>
    </tr>
}

</table>
